<div>
    <div class="modal-dialog ">
      <div class="modal-content container-fluid col-sm-8">
          <form action="">
              <h1 class="p-2 d-flex justify-content-center">ĐĂNG KÍ TÀI KHOẢN</h1>
              <div class="mb-3 mt-3">
                <label class="form-label">Tên tài khoản:</label>
                <input type="text" class="form-control" ng-model="product.tentaikhoan" placeholder="Enter Tên tài khoản" ng-model="product.tentaikhoan">
              </div>
              <div class="mb-3 mt-3">
                  <label for="sdt" class="form-label">Số điện thoại:</label>
                  <input type="text" class="form-control" placeholder="Enter Số điện thoại" ng-model="product.sdt">
                </div>
                <div class="mb-3 mt-3">
                    <label for="sdt" class="form-label">Email:</label>
                    <input type="text" class="form-control" placeholder="Enter Email" ng-model="product.email">
                  </div>
              <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="text" class="form-control"  placeholder="Enter password" ng-model="product.matkhau">
              </div>
              
              <div class="mb-3 mt-3 p-1 d-flex justify-content-center" >
                  <button class="btn btn-primary" ng-click="onClickSubmit()">Tạo mới tài khoản</button>
              </div>
              <div class="alert alert-danger mt-3" ng-if="validateForm.trangThai === false">
                <strong>Form không hợp lệ!</strong> 
                <br>
                {{validateForm.noiDung}}
            </div>
            </form>
      </div>
    </div>
  </div>